::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0 !important;
    padding: 0.15em .75em 0 .75em !important;
} 


::ng-deep .jexcel > tbody > tr > td.readonly {
    color:#756363 !important;
}
