<div>
  <div fxLayout="column" style="width: 99%;" fxLayoutAlign="center">
    <form [formGroup]="operatorAssignmentForm">
      <div fxLayout="column" style="width: 100%;margin-bottom: -33px;">
        <div fxLayout="row" style="width: 100%; padding: 1%" fxLayoutAlign="center" fxFlex="70">
          <mat-form-field appearance="fill" fxFlex="17">
            <mat-label>Month and Year</mat-label>
            <input matInput [matDatepicker]="dp" [formControl]="date" (ngModelChange)="BindShiftOperators()" />
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp startView="year" (yearSelected)="chosenYearHandler($event)"
              (monthSelected)="chosenMonthHandler($event, dp)" panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>



          <!-- <mat-label style="color: red">{{ errormsg }} </mat-label> -->
        </div>
      </div>
    </form>
  </div>
</div>

<div fxLayout="column" style="width: 99%;align-items: center;">
  <div fxFlex="50" id="spreadsheet"></div>
  <div *ngIf="gotData" style="text-align: center;" fxFlex="15">
    <button mat-raised-button color="primary"  (click)="PostShiftwiseOperatorDetails()">
      Submit
    </button>
  </div>
</div>