<div fxLayout="column" class="form" style="width: 100%;">
    <h3 style="color: blue;text-align: center;">{{title}}</h3>
    <form [formGroup]="podetailsform">
        <div fxLayout="column" style="width:100%;">

            <div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start" fxFlex="90">

                <mat-form-field fxFlex="40">
                    <input appSpecialCharacter matInput autocomplete="off" *ngIf="title==='Add Details'"
                        placeholder="PO Number" formControlName="PONumber">
                    <input appSpecialCharacter matInput autocomplete="off" *ngIf="title!='Add Details'" readonly="true"
                        placeholder="PO Number" formControlName="PONumber">
                </mat-form-field>
                <mat-form-field fxFlex="40">
                    <input appSpecialCharacter matInput autocomplete="off" placeholder="LOT Number"
                        formControlName="LOTNumber">
                </mat-form-field>
            </div>
            <div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start" fxFlex="90">

                <mat-form-field fxFlex="30">
                    <mat-label>Enter the Fgex</mat-label>
                    <input matInput autocomplete="off" appSpecialCharacter placeholder="Enter the Fgex" readonly="false"
                        formControlName="fgex">
                    <button mat-mini-fab color="primary" (click)="filterFgexData(fgex.value)" id="popbutton" matSuffix>
                        <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field class="form-field" fxFlex=48 #product>
                    <mat-label>Select Product (Code/Halb-Code/Machine Name) </mat-label>
                    <mat-select formControlName="ProductHALBCode" (selectionChange)="ProductChange($event)">
                        <mat-select-filter [array]="Products" [displayMember]="'ProductCode'"
                            (filteredReturn)="filteredProducts=$event"></mat-select-filter>
                        <mat-option *ngFor="let product of filteredProducts" [value]="product.ProductCode">
                            {{product.ProductCode}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>

            <div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start" fxFlex="90">

                <mat-form-field class="form-field" fxFlex="40">
                    <input matInput autocomplete="off" placeholder="Product Description"
                        formControlName="ProductDescription">
                </mat-form-field>

                <mat-form-field class="form-field" fxFlex="40">
                    <input type="number" matInput autocomplete="off" placeholder="LOT Size" formControlName="LOTSize">
                </mat-form-field>
            </div>


            <div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start" fxFlex="90">

                <mat-form-field class="form-field" fxFlex="40">
                    <input matInput autocomplete="off" placeholder="Plant Name" formControlName="PlantName">
                </mat-form-field>
                <mat-form-field class="form-field" fxFlex="40">
                    <input matInput autocomplete="off" placeholder="Plant Code" formControlName="PlantCode">
                </mat-form-field>
            </div>
        </div>
    </form>
    <div style="color: red;">
        {{errorText}}
    </div>

    <div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start">
        <button mat-raised-button color="primary" [disabled]="podetailsform.invalid || filteredProducts==undefined"
            [mat-dialog-close]="podetailsform.value">{{button}} </button>
        <button mat-raised-button color="warn" (click)="close()">Cancel</button>
    </div>
</div>


<!-- <pre>{{podetailsform.value|json}}</pre> -->