<div fxLayout="column" class="form" style="width: 100%;">
    <h3 style="color: blue;text-align: center;">Add fgex Details</h3>
    <form [formGroup]="fgexform">
        <div fxLayout="column" style="width:100%;">

            <div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start">

                <!--<mat-form-field class="form-field" fxFlex=10>
                    <input matInput autocomplete="off" placeholder="Format ID"
                        formControlName="_id">
                </mat-form-field> -->
                <mat-form-field fxFlex="45" >
                    <input matInput autocomplete="off" appSpecialCharacter placeholder="fgex" formControlName="fgex">
                </mat-form-field>

                <mat-form-field fxFlex="45">
                    <input matInput autocomplete="off" placeholder="Product Name" formControlName="product_name">
                </mat-form-field>

            </div>

            <div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start" fxFlex="90">
                <mat-form-field class="form-field" fxFlex="30">
                    <input matInput autocomplete="off" placeholder="Halb Code" formControlName="halb_code">
                </mat-form-field>


                <mat-form-field class="form-field" fxFlex="30">
                    <input matInput autocomplete="off" placeholder="Pack" formControlName="pack">
                </mat-form-field>

                <mat-form-field class="form-field" fxFlex="30">
                    <input matInput autocomplete="off" placeholder="Type" formControlName="type">
                </mat-form-field>

                <!-- <mat-form-field class="form-field" fxFlex="30">
                    <mat-label> Type </mat-label>
                    <mat-select formControlName="type">
                        <mat-option value="Cold Form">Cold Form</mat-option>
                        <mat-option value="Thermo Form">Thermo Form</mat-option>
                        <mat-option *ngFor="let i of GlobalKeys" [value]="i[1]">{{i[2]}}</mat-option>
                    </mat-select>
                </mat-form-field> -->

            </div>

            <div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start" fxFlex="90">
                <mat-form-field class="form-field" fxFlex="30">
                    <input matInput autocomplete="off" placeholder="Layout No." formControlName="layout_no">
                </mat-form-field>

                <mat-form-field class="form-field" fxFlex="30">
                    <input matInput autocomplete="off" placeholder="Blister Size" formControlName="blister_size">
                </mat-form-field>

                <mat-form-field class="form-field" fxFlex="30">
                    <mat-label> Current Machine </mat-label>
                    <mat-select formControlName="current_machine">
                        <mat-option value="nmx">NMX</mat-option>
                        <mat-option value="ima">IMA</mat-option>
                        <mat-option value="bqs">BQS</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start" fxFlex="90">
                <mat-form-field class="form-field" fxFlex="30">
                    <input matInput autocomplete="off" placeholder="Format" formControlName="blister_per_format"
                         type="number" min="0"
                        onkeyup="if(this.value<0){this.value= this.value * -1}">
                </mat-form-field>

                <mat-form-field class="form-field" fxFlex="30">
                    <input matInput autocomplete="off" placeholder="Cycle" formControlName="machine_cycle"
                         type="number" min="0"
                        onkeyup="if(this.value<0){this.value= this.value * -1}">
                </mat-form-field>

                <mat-form-field class="form-field" fxFlex="30">
                    <input matInput autocomplete="off" placeholder="Blister per Min" formControlName="rated_speed"
                         type="number" min="0" onkeyup="if(this.value<0){this.value= this.value * -1}">
                </mat-form-field>
            </div>

            <div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start" fxFlex="90">
                <mat-form-field class="form-field" fxFlex="20">
                    <input matInput autocomplete="off" placeholder="Tablet Per Blister"
                        formControlName="tablet_per_blister">
                </mat-form-field>
                <mat-form-field class="form-field" fxFlex="20">
                    <input matInput autocomplete="off" placeholder="Blister in carton"
                        formControlName="blisterInCarton">
                </mat-form-field>
                <mat-form-field class="form-field" fxFlex="20">
                    <input matInput autocomplete="off" placeholder="Sec. Machine Speed"
                        formControlName="secondaryMachineSpeed">
                </mat-form-field>
              
                <mat-form-field class="form-field" fxFlex="20">
                    <mat-label> T200Used </mat-label>
                    <mat-select formControlName="T200Used">
                        <mat-option [value]="true">Yes</mat-option>
                        <mat-option [value]="false">No</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


        </div>
    </form>
</div>

<div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start">
    <button mat-raised-button color="primary" [disabled]="fgexform.invalid"
        [mat-dialog-close]="fgexform.value">{{button}} </button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>

<!-- <pre>{{fgexform.value|json}}</pre> -->