<div fxLayout="column" class="form" style="width: 100%;">
    <h3 style="color: blue;text-align: center;">Add Operator Details</h3>
    <form [formGroup]="operatorEntryform">
        <div fxLayout="column" style="width:100%;">

            <div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start">

                <!---- <mat-form-field class="form-field" fxFlex=30>
                    <input matInput autocomplete="off" placeholder="Operator ID"
                        formControlName="_id">
                </mat-form-field> -->
                <mat-form-field fxFlex="45">
                    <input matInput autocomplete="off" placeholder="Operator Name" formControlName="operator_name">
                </mat-form-field>

                <mat-form-field fxFlex="45">
                    <input matInput autocomplete="off" placeholder="Operator Code" formControlName="code" type="number"
                        min="0" onkeyup="if(this.value<0){this.value= this.value * -1}">
                </mat-form-field>
            </div>

            <div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start" fxFlex="90">
                <mat-form-field class="form-field" fxFlex="45">
                    <input matInput autocomplete="off" placeholder="Display Name" formControlName="display_name">
                </mat-form-field>
                <!-- <mat-form-field class="form-field" fxFlex="45">
                    <mat-label>Operator Type </mat-label>
                    <mat-select formControlName="origin">
                        <mat-option value="permanent">Permanent</mat-option>
                        <mat-option value="contract">Contract</mat-option>
                    </mat-select>
                </mat-form-field> -->
            </div>
        </div>
    </form>
</div>

<div fxLayout="row" style="width: 100%;padding: 1%;" fxLayoutAlign="space-around start">
    <button mat-raised-button color="primary" [disabled]="operatorEntryform.invalid"
        [mat-dialog-close]="operatorEntryform.value">{{button}} </button>
    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
</div>
<!-- 
<pre>{{operatorEntryform.value|json}}</pre> -->